.about {
    // border: solid red 1px;
    background-color: #2d2420ad;

    height: 85vh;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container {
    width: 85%;
    height: 80%;
    // border: solid 1px blue;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about_title_responsive {
    display: none;
}
.ac_left {
    height: 100%;
    width: 32rem;
    // border: red solid 1px;
}
.ac_left img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    box-shadow: 8px 8px 8px grey;

    margin: 2rem;

}
.ac_right {
    height: 100%;
    width: 50rem;
    // border: purple 1px solid;

    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.ac_right .box {
    height: 50px;
    width: auto;

    margin-top: 20px;

    // border: green 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

.ac_right .description {
    margin: 1rem 0;
}

.ac_right .about_title_desktop {
    font-size: 3rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ac_right .description {
    font-size: 1.2rem;
}

.ac_right .data_container {
    border: grey solid 2px;
    height: 15.2rem;

    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.data_container .data_box {
    height: 2.2rem;
    width: 49%;
    // border: white solid 1px;
    margin: 0.25rem 0 0.25 1rem;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.button_cv {
    height: 3.6rem;
    width: 12rem;
    background-color: white;
    border: none;
    border-radius: 6px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.button_cv:hover {
    color: white;
    background-color: grey;
    border: white solid 2px;

    cursor: pointer;
}

@media (max-width: 895px) {
    .ac_right {
        margin-left: 2rem;
    }
}

@media (max-width: 500px){
    .about{
        height: auto;
    }
    .about_container{
        flex-direction: column;
    }
    .about_title_responsive {
        display: block;
        align-items: center;

        margin-top: 2rem;

        font-size: 3rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .ac_right .about_title_desktop {
        display: none;
    }
    .ac_right {
        width: 100vw;
    }
    .ac_right .box {
        height: auto;
    }
    .description {
        width: 90vw;

        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 2rem;
        margin: 1rem;
    }
    .description p {
        font-size: 1.6rem;
    }
    .data_container {
        margin: 0 2.5rem;
        align-items: center;
    }
    .data_container .data_box {
        width: 90%;
        align-items: center;
    }
    .data_box p {
        font-size: 1.6rem;
    }
    .button{
        margin: 3rem;

        display: flex;
        justify-content: center;
    }
}