.AboutPage{
    height: auto;
    width: 100vw;

    // background-color: var(--taupe);

}
.AboutPage .title {
    font-size: 3rem;
    font-weight: bold;

    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.AboutPage .content {
    height: 1000px;
    
    background-color: whitesmoke;

    // border: 2px solid red;
    padding: 2rem;
}

