.BlogEntry {
    border: solid 1px rgb(180, 180, 180);
    border-radius: 10px;
    height: 430px;
    width: 320px;

    margin: 2rem;

    display: flex;
    flex-direction: column;
}
.BlogEntry:hover {
    cursor: pointer;
}
.BlogEntry .imagen{
    height: 21.4rem;
    width: 32rem;

    // border: solid 1px black;s
    
    display: flex;
    justify-content: center;

}
.BlogEntry .imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.BlogEntry .entry-content {
    height: 55%;
    // border: solid 1px orange;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.BlogEntry .entry-content h1 {
    font-size: 2.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
}
.BlogEntry .entry-content p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-size: 1.6rem;
}

@media (max-width: 430px) {
    .BlogEntry{
        max-width: 90vw;
    }
    .BlogEntry .imagen {
        height: 100%;
        width: 100%;
    }
}