@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

.BlogPage {
    height: auto;
    width: 100vw;
}
.BlogPage .title {
    font-size: 3rem;
    font-weight: bold;

    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    text-align: center;
}
.BlogPage .title :nth-child(3){
    font-size: 2rem;
}
.BlogPage .content {
    height: auto;
    // background-color: grey;
}
.BlogPage .intro{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: auto;

    // border: solid black 1px;
}
.BlogPage .p-intro {
    font-family: 'Roboto';
    height: auto;
    width: 55vw;
    margin: 1rem auto;
    font-size: 1.9rem;
}

