.Books .IntroSection {
    position: fixed;
}
.Books .content {
    // position: relative;
    height: 224vh;
    border: solid green 1px;

    display: flex;
}
.Books .type-nav {
    border: solid yellow 1px;
    height: 92vh;
    width: 28vw;
    margin: 8vh 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0;
}
.Books .books-content {
    border: solid orange 1px;
    min-height: 92vh;
    // max-height: auto;
    width: 72vw;

    position: absolute;
    margin-left: 28vw;
    margin-top: 8vh;
}
.Books .category {
    height: auto;
    color: white;
    height: 100px;
    width: 80%;
    border: solid 2px white;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    
    margin-top: 8vh;
    margin: 18px;

    transition: background-color 0.2s ease;

}
.Books .category:hover {
    color: var(--taupe);
    border-color: var(--taupe);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
.Books .books-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.Books .books-content .content-entry {
    height: 330px;
    width: 240px;
    margin: 28px 16px;
    border: solid 1px white;
    border-radius: 4px;

    font-size: 24px;
    color: white;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Books .books-content .content-entry:hover {
    color: var(--taupe);
    border-color: var(--taupe);
    cursor: pointer;
}

.Books .books-content .content-entry figure {
    height: 330px;
    width: 260px;
}

.Books .books-content .content-entry figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.Books .books-content .content-entry p{
    width: 160px;
    position: absolute;
}
