:root {
    --taupe: #988780;
    --white: #FFFFFF;
    --teal: #13292A;
    --cream: #E9DED9;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    overflow-x: hidden;

}