.header {
    // height: 48px;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // border: red solid 1px;

    font-weight: bold;

    position: fixed;

    color: white;

    // overflow-x: hidden;
}
.top-section {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // border: green solid 1px;
}
.header {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.menu-responsive{ // This will be displayed in mobile
    display: none;
}
.contact-responsive{ // This one too
    display: none;
}
.name {
    font-size: 2rem;
    margin-left: 5vw;

    font-family: monospace;
    border-bottom: transparent 2px;
}
.name:hover {
    color: var(--taupe);

    cursor: pointer;

    border-bottom: var(--taupe) solid 2px;
}

.nav-bar {
    display: flex;
    margin-right: 4rem;
    
}
.nav-bar li {
    margin: 1rem;
    list-style: none;
    font-size: 1.5rem;
}
.nav-bar li:hover {
    cursor: pointer;
    color: var(--taupe);
}
.bottom-section {
    display: none;
}



@media(max-width:500px){
    .header{
        justify-content: space-between;
    }
    .top-section {
        justify-content: space-around;
        align-items: center;
        margin: 8px;
    }
    .menu-responsive{
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
    }
    .menu-responsive:hover {
        cursor: pointer;
    }
    .menu-responsive > div {
        background: white;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }
    .menu-responsive:hover div {
        background: var(--taupe);
    }
    .menu-responsive:hover div:first-child {
        transform: rotate(35deg);
    }
    .menu-responsive:hover div:nth-child(2) {
        opacity: 0
    }
    .menu-responsive:hover div:last-child {
        transform: rotate(-35deg);
    }


    .contact-responsive{
        display: flex;
        justify-content: center;
        align-items: center;

        border: white solid 2px;
        height: 30px;
        width: 30px;
        border-radius: 10px;
    }
    .contact-responsive:hover {
        border-color: var(--taupe);
        color: var(--taupe);
        cursor: pointer;
    }
    .contact-responsive img{
        width: 100%;
        height: 100%;
        padding: auto;
    }
    .nav-bar{
        display: none;
    }
    .bottom-section {
        display: flex;
        flex-direction: column;

        // position: fixed;

        // border: solid 1px blue;
        width: 100%;
        height: 500px;
    }
    .bottom-nav-box {
        font-family: monospace;
        font-weight: 500;
        
        // width: 100%;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.6rem;

        margin: 2rem 0;
        padding: 0 0 5px 0;
    }
    .bottom-nav-box:hover {
        color: var(--taupe);
        cursor: pointer;
    }
}