.HobbieEntryPage {
    // margin: 8vh 0 auto 27vw;
    height: auto;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centr;
}
.HobbieEntryPage div:nth-child(1) {
    position: sticky;
}
.HobbieEntryPage .introduction {
    color: white;
    height: 100vh;
    width: 80vw;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-bottom: 100vh;
    position: absolute;
    bottom: 20vh;
    
    text-shadow: 0px 0px 40px black;
    
}
.HobbieEntryPage .introduction .title {
    font-size: 80px;
    padding: 2.4rem 0 1.2rem 0;
}
.HobbieEntryPage .review {
    min-width: 300px;
    // margin: 0 20vw;
    
    font-size: 2.2rem;
    // border: solid black 2px;
    border-radius: 2px;
    color: black;
    background-color: var(--white);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HobbieEntryPage .review h2 {
    margin: 4rem 0;
    padding: 0 2rem 1rem 2rem;
    
    font-size: 4rem;

    width: 60vw;
    border-bottom: 2px solid var(--taupe);
}
.HobbieEntryPage .review p {
    margin: 1.6rem 0;
    padding: 0 2rem;
    max-width: 60vw;
}
.HobbieEntryPage .review .blockInfo {
    height: 35vh;
    width: 100vw;
    border: solid 1px var(--taupe);
    display: flex;
    margin: 6rem 0 4rem 0;
}
.HobbieEntryPage .review .blockInfo .block-image-container {
    width: 50vw;
}
.block-image-container figure{
    width: 50vw;
    height: 35vh;
}
.block-image-container figure img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.blockInfo .block-quote {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blockInfo .block-quote h3 {
    padding: 0 3rem;
    font-size: 3.2rem;
}
.blockInfo .block-quote p {
    padding-left: 3rem;
    width: 70%;
    font-size: 1.8rem;
}
.blockInfo .block-quote :nth-child(3) {
    margin-top: 0;
    color: grey;
}
.HobbieEntryPage .backgroundStatic {
    height: 3vh;
    width: 100vw;
}