.HobbiesPage .IntroSection {
    position: fixed;
}
.HobbiesPage .content {
    // position: relative;
    height: 100vh;
    // border: solid green 1px;

    display: flex;
}
.HobbiesPage .type-nav {
    // border: solid yellow 1px;
    height: 92vh;
    width: 28vw;
    margin: 8vh 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0;
}
.HobbiesPage .category {
    height: auto;
    color: white;
    height: 100px;
    width: 80%;
    border: solid 2px white;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    
    margin-top: 8vh;
    margin: 18px;

    transition: background-color 0.2s ease;

}
.HobbiesPage .category:hover {
    color: var(--taupe);
    border-color: var(--taupe);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 500px) {
    .HobbiesPage .content .type-nav {
        flex-direction: row;
        margin-top: 10vh;
        height: 10vh;
        width: 100vw;
        z-index: 1;
        font-size: 1.4rem;
        position: static;
    }
    .HobbiesPage .category {
        height: 40px;
        font-size: 1.6rem;
        padding: 0 1rem;
        margin: 4px;
    }
    
}