.HobbieEntry {
    color: white;
    margin: 8vh 0 auto 27vw;
    height: auto;
    width: 73vw;
}
.HobbieEntry .introduction .title {
    font-size: 80px;
    padding: 2.4rem 0 1.2rem 0;
}
.HobbieEntry .introduction {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}
.HobbieEntry .review {
    margin: 4rem;
    font-size: 2.2rem;
}

.HobbieEntry .review p {
    margin: 1.6rem 0;
}