.Books .IntroSection {
    position: fixed;
}
.Books .content {
    // position: relative;
    height: 100vh;
    // border: solid green 1px;

    display: flex;
}
.Books .type-nav {
    // border: solid yellow 1px;
    height: 92vh;
    width: 28vw;
    margin: 8vh 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0;
}
.Books .category {
    height: auto;
    color: white;
    height: 100px;
    width: 80%;
    border: solid 2px white;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    
    margin-top: 8vh;
    margin: 18px;

    transition: background-color 0.2s ease;

}
.Books .category:hover {
    color: var(--taupe);
    border-color: var(--taupe);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}