.hobbie_box {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}



.hobbie_box .skill {
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobbie_box .skill img {
    width: 100px;
    height: 100px;
}