.HomeAbout{
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    // border: 2px solid blue;
}
.HomeAbout .introduction {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}
.HomeAbout .title_section {
    // border: 1px solid purple;
    width: 40vw;
}
.HomeAbout h1 {
    // text-align: center;
    font-size: 5rem;
    // border: 1px solid red;
}
.HomeAbout .description {
    width: 80vw;
    height: auto;
    // border: 1px solid brown;

    // margin: 3rem;
    display: flex;
    justify-content: space-between;
    
}
.HomeAbout .message_1 {
    // border: 1px solid green;
    text-align: center;

    display: flex;
    // justify-content: center;

    padding-top: 1rem;

    font-size: 1.6rem;
    color: grey;
    width: 20vw;
}
.HomeAbout .message_2 {
    // border: 1px solid hotpink;

    font-size: 1.8rem;
    width: 65vw;
}
.HomeAbout .images {
    // border: 1px solid orangered;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}
.HomeAbout .images .image1 {
    width: 90vw;
    height: 450px;

    // border: solid 1px red;
    margin-bottom: 8rem;
}
.HomeAbout .images .image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomeAbout .quote_and_image {
    // border: 1px solid hotpink;
    width: 90vw;
    height: 400px;

    display: flex;
    justify-content: space-between;
}
.HomeAbout .quote_and_image .quote {
    // border: solid 1px green;
    height: 300px;
    width: 35vw;

    display: flex;
    // align-items: center;
    // justify-content: center;

    font-size: 2.6rem;
}
.HomeAbout .quote_and_image .quote p {
    padding: 8rem 3rem;
    font-weight: 600;
}
.HomeAbout .quote_and_image .image2 {
    height: 300px;
    width: 45vw;
}
.HomeAbout .quote_and_image .image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}