.IntroSection {
    display: flex;
    justify-content: center;
    align-items: center;

    // height: 200px;
    width: 100vw;

    position: absolute;
    z-index: -1;
    height: 100vh;
}
.IntroImagen {
    filter: brightness(40%);
    height: 100vh;
}
.IntroImagen img {
    object-fit: cover;
    height: 100%;
    width: 100vw;
}