.more-read{
    margin-top: 10rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-read > h1{
    border-bottom: solid 1px rgb(180, 180, 180);
    width: 70%;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.entry-by-two {
    // border: solid 1px black;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}