.skills_hobbies {
    height: auto;

    background-color: #E7DED9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills_hobbies > div {
    margin: 2.5rem;
}

.skills_section {
    // border: blue solid 1px;
    // width: 63vw;
    text-align: center;
}
.hobbies_section {
    // border: red solid 1px;
    // width: 36vw;
    text-align: center;
}
.title_section {
    font-size: 4rem;
    margin: 1.5rem
}

@media (max-width:410px) {
    .skills_hobbies{
        height: 122rem;
    }
}

// @media (max-width:430px) {
//     .skills_hobbies{
//         height: auto;
//     }
// }