.skill_box {
    // border: solid 1px blue;
    height: 15rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4rem;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill p{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}
.sphere{
    height: 100px;
    width: 100px;

    // border: black solid 1px;
    border-radius: 50%;

    margin: 1rem 2rem 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sphere img {
    height: 120px;
    width: 120px;
    filter: drop-shadow(8px 8px 4px black)
}

@media (max-width:500px) {
    .skill_box{
        height: 55rem;
        width: 114%;
        margin: 0 -30px;
    }
    .sphere img {
        height: 120px;
        width: 120px;
        filter: drop-shadow(8px 8px 4px black)
    }
}

