.skills_hobbies {
    height: 95vh;

    background-color: #E7DED9;

    display: flex;
    flex-direction: column;
}
.skills_hobbies > div {
    margin: 2rem;
}

.skills_section {
    // border: blue solid 1px;
    // width: 63vw;
    text-align: center;
}
.hobbies_section {
    // border: red solid 1px;
    // width: 36vw;
    text-align: center;
}
.title_section {
    font-size: 4rem;
    margin: 1.5rem
}

