.skill_box {
    // border: solid 1px blue;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.skill p{
    font-size: 2rem;
    font-weight: bold;
}
.sphere{
    height: 100px;
    width: 100px;

    border: black solid 1px;
    border-radius: 50%;

    margin: 1rem 2rem 1rem 2rem;
}