.welcome {
    height: 100vh;
    width: 99vw;
    // border: blue 1px solid;

    display: flex;
    flex-direction: column;
    align-items: center;

    // background-image: url('../../assets/background-laptop.jpg');
    // background-attachment: fixed;

}
.welcome img {
    z-index: -1;
    filter: brightness(60%); 

    position: fixed;

    height: 100%;
    width: 102%;
}
.welcome_message{
    position: absolute;
    margin-top: 20rem;
    font-size: 7rem;
    color: white;

    filter: drop-shadow(2px 4px 6px black);

    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;

    animation: typing 2s steps(11), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent }
}